/* Provide sufficient contrast against white background */
// @import 'bootstrap';

////////////////////////////////

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

main.submit-question-hero {
  background-image: url('./images/backgroundimage.jpg');
  background-size: fill;
  height: 100vh;
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center 30px;
  display: flex;
  flex-direction: column;
  grid-template-rows: 5rem 3rem 4rem 2rem 10rem;
  grid-template-columns: 25% 25% 25% 25%;
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.submit-form textarea {
  text-align: center;
}

.submit-form > input,
textarea {
  margin: 15px 0;
}

.description-box {
  width: 180px;
  height: 90px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pageheader {
  text-align: center;
}

.searchbox {
  width: 300px;
  text-align: center;
}

.submitbutton {
  width: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
main.hero {
  background-image: url('./images/hero.jpeg');
  height: 100vh;
  width: 100%;
  display: flex;
  //moves text down to center of photo
  // justify-content: center;
  //moves text to the right to middle
  // align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1rem;
  color: whitesmoke;
}

.hero h3 {
  line-height: 1;
}

.hero section {
  padding-top: 2.5rem;
  padding-left: 0.75rem;
}

.askAQuestionButton {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}

.askAQuestionButton button {
  border: 0.2rem solid rgb(4, 102, 214);
  border-radius: 5rem;
  background-color: rgb(215, 224, 245);
}

.howItWorks {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 4rem;
}

.howItWorksList h4 {
  font-size: 1.2rem;
}

.howItWorksList {
  border-radius: 0.75rem;
  box-shadow: inset 2px 2px 8px 4px rgba(63, 64, 70, 0.4);
  margin: 1.5rem;
  padding: 1rem;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

//////////////////////////////////
@media (min-width: 10px) {
  .hero h3 {
    font-size: 1.35rem;
  }
}

//////////////////////////////////
@media (min-width: 700px) {
  .hero h3 {
    font-size: 2.1rem;
    padding-left: 0.8rem;
  }
  .howItWorksList h4 {
    font-size: 1.5rem;
  }
}

//////////////////////////////////
@media (min-width: 1000px) {
  .hero h3 {
    font-size: 2.8rem;
    padding-left: 0.8rem;
  }
  .howItWorksList h4 {
    font-size: 1.5rem;
  }
  .hero section {
    padding-top: 2.75rem;
  }
}

/////////////////////////////////
@media (min-width: 1440px) {
  .hero h3 {
    font-size: 3.4rem;
    padding-left: 1.5rem;
  }
}

/////////////////////////////////
/////////////////////////////////
// Search Page

.searchArea input {
  padding: 0.5rem 7rem;
  border: 0.05rem solid #f8b195;
  margin-top: 1rem;
}

.searchArea input:focus {
  outline-color: #355c7d;
}

.searchArea button {
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  background-color: #f8b195;
  border: none;
  color: white;
}

.searchArea button:hover {
  background-color: #f4bba5;
  border: none;
}

.searchArea button:focus {
  outline-color: #f4bba5;
}

.questionsTagged {
  margin-top: 2rem;
}

.howToFilter {
  display: flex;
  justify-content: left;
  margin-bottom: 3rem;
}

.howToFilter p {
  margin-right: 1rem;
}

.howToFilter button {
  margin-left: 15rem;
  padding: 0.5rem 2rem;
  background-color: #355c7d;
  border: none;
  color: white;
}

// Question Box

.questionBox,
.answerBox {
  display: flex;
  margin-top: 2rem;
}

hr {
  border-top: 0.07rem solid #355c7d;
}

.left {
  margin-left: 2rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
}

.right {
  margin-left: 6rem;
  margin-top: 1rem;
}

.right li {
  list-style: none;
}

.questionName {
  color: #355c7d;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.questionDescription {
  margin-top: 1rem;
}
.questionDate {
  margin-top: 1.5rem;
  font-size: 0.75rem;
}

.votingThumbs {
  color: #f4bba5;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.votingThumbs:focus {
  outline-color: #f4bba5;
}

// Question Details Page

.answerQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answerQuestion label {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #f8b195;
}

.answerQuestion textarea {
  width: 90vw;
  height: 30vh;
  resize: none;
}

.answerQuestion textarea:focus {
  outline-color: #355c7d;
}

.answerQuestion button {
  padding: 1rem 5rem;
  color: white;
  background-color: #355c7d;
  margin-top: 2rem;
}

.answerQuestion button:hover {
  background-color: #f8b195;
}

.renderQuestion {
  margin-left: 1rem;
}

.renderAnswer {
  list-style: none;
}

.rightAnswers p {
  margin-top: 2rem;
  margin-left: 3rem;
}

.answerDescription {
  font-size: 1rem;
}

.answerDate {
  font-size: 0.75rem;
  color: #355c7d;
  padding-top: 3rem;
}

.answerFooter {
  margin-top: 4rem;
  color: #f8b195;
}
